.button {
  @apply inline-block text-sm px-4 py-3 rounded font-black uppercase tracking-wide bg-indigo-500 text-white;
}

.gradient-purple {
  @apply bg-gradient-to-r from-pink-400 via-pink-500 to-pink-700;
}

.input {
  @apply rounded border-gray-300 text-gray-900 focus:border-indigo-500;
}

.section-spacing {
  @apply py-8 md:py-16 lg:py-24;
}
