---
title: Sites
heading: Websites I brought to life.
description: Below you will find a list of some of the sites I've helped design, build, and deploy to the internet. Give them a peep!
---

{% extends 'page.njk' %}
{% from 'hero.njk' import hero  %}

{% block body %}

  {{ hero(
    eyebrow = 'Check out all of these',
    heading = heading,
    paragraph = description
  ) }}
  
<h1>Tags</h1>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
{% endfor %}
